body{
  font-family: "Montserrat";
  text-align: center;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat-bold";
}

p{
  color: #8f8f8f;
}



#courses{
  padding: 100px;
}

.course-text{
  font-size: 3rem;
  line-height: 1.5;
}

.courses-col{
  padding: 3% 2%;
}



